<div class="login-reg-panel">
    <div class="register-info-box">
      <h2>Don't have an account?</h2>
      <p>Lorem ipsum dolor sit amet</p>
      <label id="label-login" for="log-login-show" >Register</label>
      <input type="radio" name="active-log-panel" id="log-login-show">
    </div>
    <div class="white-panel">
     <div class="login-form">
      <h2>Register</h2>

  <form *ngIf="!next"#registerForm="ngForm" class="login-form mt-2 mt-md-0" (ngSubmit)="nextForm()">
    <div class="form-group">
      <input
       name="username"
       [(ngModel)]="model.userName"
       class="form-control mr-sm-2"
       type="text"
       placeholder="Username">

    </div>
     <div class="form-group">
       <input
       name="password"
       [(ngModel)]="model.password"
       class="form-control mr-sm-2"
       type="text"
       placeholder="Password">
     </div>

     
  
     <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
     <button class="btn btn-primary btn-outline-succes my-1 my-sm-0" type="submit">Next</button>
  </form>

  <form *ngIf="next" #registerForm="ngForm" class="login-form mt-2 mt-md-0" (ngSubmit)="register()">
    <div class="form-group">

      <input
       name="firstname"
       [(ngModel)]="model.firstName"
       class="form-control mr-sm-2"
       type="text"
  
       placeholder="Firstname">
    </div>
     <div class="form-group">
       <input
       name="lastname"
       [(ngModel)]="model.lastName"
       class="form-control mr-sm-2"
       type="text"
       placeholder="Lastname">
   </div>

   <div class="form-group">
    <input
    name="dateOfBirth"
    [(ngModel)]="model.dateOfBirth"
    class="form-control mr-sm-2"
    type="date"
    placeholder="Date of birth">
</div>


  <!--  <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="Date of birth"
               name="dp" [(ngModel)]="user.dateOfBirth" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>-->
     <p>{{model.dateOfBirth}}</p>

  <div class="form-group">
    <input
    name="idnumber"
    [(ngModel)]="model.idNumber"
    class="form-control mr-sm-2"
    type="number"
    placeholder="IdNumber">
  </div>


    
  
     <button class="btn btn-default mr-2" (click)="back()" type="button">Back</button>
     <button class="btn btn-primary btn-outline-succes my-1 my-sm-0" type="submit">Register</button>
  </form>
</div>