<div class="background">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>





<div class="login-reg-panel">

          
  <div class="register-info-box">
    <h2>Don't have an account?</h2>
    <p>Lorem ipsum dolor sit amet</p>
    <label id="label-login" for="log-login-show" >Register</label>
    <input type="radio" name="active-log-panel" id="log-login-show">
  </div>

            
  <div class="white-panel">
   <div class="login-form">
    <h2>Login</h2>


<form *ngIf=":!loggedIn" #loginForm="ngForm" class="login-form mt-2 mt-md-0" (ngSubmit)="login()">
  <div class="form-group">
    <input
     name="username"
     [(ngModel)]="model.userName"
     class="form-control mr-sm-2"
     type="text"

     placeholder="Username">
  </div>
  
   <div class="form-group">

     <input
     name="password"
     [(ngModel)]="model.password"
     class="form-control mr-sm-2"
     type="text"
     placeholder="Password">
   </div>

     <button class="btn btn-primary btn-outline-succes my-1 my-sm-0" type="submit">Login</button>
</form>


<form *ngIf=":loggedIn" #registerForm="ngForm" class="login-form mt-2 mt-md-0" (ngSubmit)="login()">
  <div class="form-group">
    <input
     name="username"
     [(ngModel)]="model.userName"
     class="form-control mr-sm-2"
     type="text"

     placeholder="Username">
  </div>
  
   <div class="form-group">

     <input
     name="password"
     [(ngModel)]="model.password"
     class="form-control mr-sm-2"
     type="text"
     placeholder="Password">
   </div>

     <button class="btn btn-primary btn-outline-succes my-1 my-sm-0" type="submit">Login</button>
</form>
  </div>
</div>


</div>