<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand -->
  <div class="container">
  <a *ngIf="loggedIn" class="navbar-brand" routerLink="/app-home" >
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a *ngIf="loggedIn" class="nav-link" routerLink="/app-flight" routerLinkActive='active'>Flights</a>
    </li>
  
    <li class="nav-item">
      <a  class="nav-link" routerLink="/app-register" routerLinkActive='active'>Register</a>
    </li>

    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link">   Welcome, {{model.userName }} </a>
    </li>
  </ul>
  


  <form *ngIf="!loggedIn" #LoginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
    <div class="form-group">
      <input
       name="username"
       [(ngModel)]="model.userName"
       class="form-control mr-sm-2"
       type="text"
       placeholder="Username">
    </div>
    
     <div class="form-group">
       <input
       name="password"
       [(ngModel)]="model.password"
       class="form-control mr-sm-2"
       type="password"
       placeholder="Password">
     </div>
  
       <button class="btn btn-primary btn-outline-succes my-1 my-sm-0" type="submit">Login</button>
  </form>
</div>
</nav>